.myContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  button{
    background-color: rgba(255,0,0,0.2);
    margin-left: 8px;
  }


}
.my-card:hover{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.1) ; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform .5s ease;
}

.NoEventCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 100px;
}


.my-card {
  cursor: pointer;
  width: 35%;
  background-color: #f44336;    //red
  color: white!important;
  border-radius: unset;
  box-shadow: none;
  margin: 5vh 0;

  .mat-card-header-text{
    margin: 0 !important;
    color: red !important;
  }


  box-shadow:none;
  transform: scale(1) ; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform .5s ease;
}

mat-card-content {
  margin: 0;
  font-weight: bold;
}
mat-card-header{
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
    content: "";
    display: block;
    padding-bottom: 70%;
  }
}

@media screen and (max-width: 740px) {
  .my-card {
    width: 70% !important;
    margin: 0 auto 5vh;
  }

  .myContainer {
    display: block;
  }
}
