<div class="myContainer" *ngIf="noEvent != true">
    <!--LEFT CARD-->
    <mat-card class="my-card" *ngFor="let event of events" routerLink="/event/{{ event.id }}">
        <mat-card-header>
            <mat-card-title style="color: white">{{ event.title }}</mat-card-title>
        </mat-card-header>
        <div class="img" [ngStyle]="{'background-image': 'url(' + event.image + ')'}">
        </div>
            <mat-card-content>
            {{event.startDate}}
        </mat-card-content>
    </mat-card>
</div>
<mat-card style="margin-top: 40px" class="NoEventCard" *ngIf="noEvent === true">
    <mat-card-header>
        <mat-card-title>There are no events at the searched criteria</mat-card-title>
    </mat-card-header>
</mat-card>
