.groupNav {
  height: 50px;
  width: 100%;
  background-image: linear-gradient(to bottom, #c0c0c0, #ececec);
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;

  a,
  span {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  span:hover {
    a{
      color: #df2800;
      text-decoration: none;
    }
    cursor: pointer;
  }

  a.active {
    color: red;
  }

  span {
    margin: 0 20px !important;
  }
}

.active {
    color: red;
}
