<app-main>
    <div class="groupNav">
        <span><a [ngClass]="{active: showMyEvents}" (click)="showEvent()">My Events</a></span>
        <span><a [ngClass]="{active: !showMyEvents}" (click)="showEventAttend()">Events I'm attending</a></span>

    </div>
    <app-my-events *ngIf="showMyEvents"></app-my-events>
    <app-events-attending *ngIf="!showMyEvents"></app-events-attending>
</app-main>
