<app-main>
    <mat-card class="loginCard">
        <mat-card-header class="loginHeader">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="loginContent">
            <form class="loginForm" [formGroup]="loginCred" (keydown.enter)="login()" >
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email" type="email" name="email" required>
                </mat-form-field>


                <!--Show password taken from: https://material.angular.io/components/form-field/overview -->
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput autocomplete="on" placeholder="Password" name="password" required [type]="hidePassword ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>


            </form>
            <span class="errorMessage">{{errorMessage}}</span>
            <mat-card-actions>
                <button mat-raised-button (click)="login()" [disabled]="!loginCred.valid" color="primary">LOGIN</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</app-main>
