<app-main>
    <div class="homeContainer">
    <app-search-event-form (messageSearchData)="receiveSearchData($event)"></app-search-event-form>
    <app-event-list [searchData]="eventsSubject.asObservable()"></app-event-list>
    </div>
</app-main>
