.searchCard {
  left: 50%;

  transform: translate(-50%, 10%);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 100px;
}
.full-width {
  width: 100%;
}

@media screen and (max-width: 740px) {
  .searchCard{
    transform: translate(-50%, 0%);
    width: 70vw;
  }
}
