<mat-card class="searchCard">
    <mat-card-title>Search for event</mat-card-title>
    <mat-card-content>
        <form class="registerForm" [formGroup]="search">
            <mat-form-field class="full-width">
                <input
                        formControlName="date"
                        matInput
                        (click)="eventStartDate.open()"
                        [matDatepicker]="eventStartDate"
                        [min]="minDate"
                        placeholder="Event start date"
                        required
                />
                <mat-datepicker-toggle matSuffix [for]="eventStartDate"></mat-datepicker-toggle>
                <mat-datepicker #eventStartDate disabled="false"></mat-datepicker>
            </mat-form-field>
            <!-- EVENT KIND-->
            <mat-form-field class="full-width">
                <mat-label>Choose your event kind</mat-label>
                <mat-select required formControlName="genre">
                    <mat-option *ngFor="let genre of genres" [value]="genre.GenreId">
                        {{genre.GenreName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button id="createButton" mat-raised-button (click)="searchEvent()" color="primary">Search</button>
    </mat-card-content>
</mat-card>
