<app-main><mat-card class="createEventCard">
    <mat-card-header>
        <mat-card-title>Edit Event</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="registerForm" [formGroup]="editEvent" novalidate (keydown.enter)="update()">
            <!-- TITLE -->
            <mat-form-field class="full-width">
                <mat-label>Event Title</mat-label>
                <input formControlName="title" matInput type="text" placeholder="Event Title" name="title" required />
                <mat-error *ngIf="editEvent.hasError('required', 'name')">Please name your Event Title.</mat-error>
            </mat-form-field>
            <!-- DESCRIPTION -->
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <textarea
                        formControlName="description"
                        placeholder="Description"
                        name="description"
                        matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        required
                ></textarea>
            </mat-form-field>

            <!-- ADDRESS -->
            <mat-form-field class="full-width">
                <mat-label>Event Address</mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <input (ngModelChange)="search($event)" formControlName="address" matInput
                       type="text" placeholder="Event Address" name="title" required [matAutocomplete]="auto" [matAutocompleteDisabled]="addresses === undefined" />
                <mat-autocomplete #auto="matAutocomplete">
                    <div *ngIf="addresses !== undefined">
                        <mat-option  *ngFor="let address of addresses.features" [value]="address.place_name" (onSelectionChange)="onSelect(address)">
                            {{address.place_name}}
                        </mat-option>
                    </div>
                </mat-autocomplete>
            </mat-form-field>

            <!-- EVENT START DATE -->
            <mat-form-field class="full-width">
                <mat-label>Event start date</mat-label>
                <input
                        formControlName="startDate"
                        matInput
                        (click)="eventStartDate.open()"
                        [matDatepicker]="eventStartDate"
                        placeholder="Event start date"
                        required

                />
                <mat-datepicker-toggle matSuffix [for]="eventStartDate"></mat-datepicker-toggle>
                <mat-datepicker #eventStartDate disabled="false"></mat-datepicker>
            </mat-form-field>

            <!-- EVENT START TIME-->
            <mat-form-field class="full-width">
                <mat-label>Event start time</mat-label>
                <input placeholder="Event start time" formControlName="startTime" aria-label="24hr format" matInput [ngxTimepicker]="startTime" [format]="24" required  readonly>
                <ngx-material-timepicker #startTime></ngx-material-timepicker>
            </mat-form-field>

            <!-- EVENT END DATE -->
            <mat-form-field class="full-width">
                <mat-label>Event end date</mat-label>
                <input
                        formControlName="endDate"
                        matInput
                        (click)="eventEndDate.open()"
                        [matDatepicker]="eventEndDate"
                        placeholder="Event end date"
                        required
                />
                <mat-datepicker-toggle matSuffix [for]="eventEndDate"></mat-datepicker-toggle>
                <mat-datepicker #eventEndDate disabled="false"></mat-datepicker>
            </mat-form-field>

            <!-- EVENT END TIME-->
            <mat-form-field class="full-width">
                <mat-label>Event end time</mat-label>
                <input placeholder="Event end time" formControlName="endTime" aria-label="24hr format" matInput [ngxTimepicker]="endTime" [format]="24" required readonly>
                <ngx-material-timepicker #endTime></ngx-material-timepicker>
            </mat-form-field>

            <!-- EVENT Price-->
            <mat-form-field class="full-width" >
                <mat-label>Event Price (let empty if free)</mat-label>
                <input matInput placeholder="Event Price (let empty if free)"  formControlName="price" type="text">
                <span matSuffix>€&nbsp;</span>
            </mat-form-field>


            <!-- EVENT KIND-->
            <mat-form-field class="full-width">
                <mat-label>Choose your event kind</mat-label>
                <mat-select required formControlName="genre" name="genre" [compareWith]="compareFunction">
                    <mat-option *ngFor="let genre of genres" [value]="genre.GenreId">
                        {{genre.GenreName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            Current event image:<br>
            <img *ngIf="image" src="{{image}}">
            <br>
            <!-- EVENT IMAGE-->
            <button id="fileSelector" class="fileContainer" mat-raised-button color="primary">
                <i class="material-icons">attachment</i>
                {{fileMessage}}
                <input formControlName="image"  (change)="onFileSelected($event)" #fileInput type="file" id="file"/>
            </button><br>
            <span class="errorMessage">{{errorMessage}}</span>
            <br><button id="createButton" mat-raised-button (click)="update()" [disabled]="!editEvent.valid" color="primary">Update event</button>
        </form>

    </mat-card-content>
</mat-card>
</app-main>
