/*:root {
  --main-bg-color: #673ab7;
}*/
.createEventCard {
  position: relative;
  left: 50%;
  margin: 30px 0;
  transform: translateX(-50%);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 100px;
}

.errorMessage{
  color: red;
}
#fileSelector{
  margin-bottom: 10px ;
}

#createButton{
  margin-top: 10px;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.full-width {
  width: 100%;
}

::ng-deep .timepicker {
  .timepicker__header {
    background-color: #ff212c !important;
  }

  .clock-face__clock-hand {
    background-color: #ff212c !important;

    &::after {
      background-color: #ff212c !important;
    }

    &::before {
      border-color: #ff212c !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: #ff212c !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: #ff212c !important;
  }
}

@media screen and (max-height: 740px), (max-width: 700px) {
  .createEventCard {
    top: 0;
    left: 0%;
    transform: none;
    width: 80%;
    height: calc(100vh - 120px);
    padding: 0;
    margin: 40px 10% 0 10% !important;
    border: none;
    box-shadow: none;
    background-color: transparent;
    justify-content: start;
  }
  .fileContainer{
    margin: 0;
  }

  .create{
    margin-bottom: 20px;
  }
}
