<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<div mat-dialog-content>
    <p>Save to:</p>
</div>
<mat-form-field>
    <mat-label>Calendar</mat-label>
    <mat-select [(value)]="valueSelected">
        <mat-option value="google">
            Google Calendar
        </mat-option>
        <mat-option  value="icalendar">
            iCalendar
        </mat-option>
        <mat-option  value="outlook">
            Outlook Calendar
        </mat-option>
    </mat-select>
</mat-form-field>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="valueSelected"  cdkFocusInitial>Save</button>
</div>
