<app-main>

    <mat-spinner style="margin:0 auto; top: 20%; z-index: 10000" *ngIf="event === undefined" ></mat-spinner>
    <mat-card *ngIf="event !== undefined" class="eventCard">
        <mat-card-header>
            <mat-card-title>
                {{event.title}}
            </mat-card-title>
        </mat-card-header>

    <mat-card-content>
        <img src="{{event.image}}">
        <div class="eventOptions">
            <div *ngIf="jwtService.isAuthenticated()" style="display: inline-flex">
                <mat-icon style="color: red" *ngIf="!liked" (click)="going()">favorite_border</mat-icon>
                <mat-icon style="color: red" *ngIf="liked"  (click)="going()">favorite</mat-icon>
            </div>
            <mat-icon style="color: red" (click)="save()" id="save">save</mat-icon>
        </div>
        <div class="eventContent">
            <div style="">
                <mat-icon style="align-self: center; color: red" class="material-icons">date_range</mat-icon>
                <div style="margin-top: 4px; margin-bottom: 0 !important;">
                    <p >Start: {{ startDate }}</p>
                    <p >End: {{ endDate }}</p>
                </div>
            </div>
            <div>
                <mat-icon style="color: red">description</mat-icon>
                <div>
                    <p style="margin-top: 4px">{{ event.description }}</p>
                </div>
            </div>
            <div>
                <mat-icon style="color: red" >attach_money</mat-icon>
                <p style="margin-left: 10px; margin-top: 4px" *ngIf="event.price !== null">{{ event.price }} €</p>
                <p style="margin-left: 10px; margin-top: 4px" *ngIf="event.price === null">FREE</p>
            </div>
            <div>
                <mat-icon style="color: red" >location_on</mat-icon>
                <p style="margin-left: 10px; margin-top: 4px">{{ event.address }}</p>
            </div>
        </div>

    </mat-card-content>
    </mat-card >
    <div class="mapContainer" >
        <div id="map"></div>
    </div>

</app-main>
