
:root {
  --main-bg-color: #673ab7;
}
mat-card {
  border-radius: 0!important;
}
.eventOptions{
  margin-top: 5px;
  border-bottom: 2px solid red;
  mat-icon {
    cursor: pointer;
  }
}
mat-card-title {
  color: red;
  font-size: 30px!important;
}

.eventCard {
  position: relative;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  padding: 40px 80px 0;

}
mat-card-header {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

img {
  display:block;
  margin:auto;
  max-width: 600px;
}

.eventContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  i{
    cursor: pointer;
  }
  div{
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;

    div:first-child{
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
    div:nth-child(2){
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      //align-items: center;
      padding: 0;
    }
  }
}

.mapContainer{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  padding: 0 80px 40px;
  background: white;
  box-shadow: 0 4px 2px -2px gray, 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  //box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 50px;
}


#map {
  min-width: 400px;
  min-height: 400px;
  width: 50%;
  margin: 0 auto;
}


@media screen and (max-width: 900px) {
  .eventCard {
    width: 60%;
  }
  img {
    width: 70%;
  }
  .mapContainer{
    width: 60%;
  }

  #map {
    min-width: 350px;
    min-height: 350px;
  }


}

@media screen and (max-width: 700px) {
  .eventCard {
    top: 0;
    left: 0;
    transform: none;
    width: 80%;
    height: calc(100vh - 280px);
    padding: 0;
    margin: 50px 10% 0 10% !important;
    border: none;
    box-shadow: none;
    background-color: transparent;
    justify-content: start;
  }

  .mapContainer{
    top: 0;
    left: 0;
    transform: none;
    width: 80%;
    height: calc(100vh - 280px);
    padding: 0;
    margin: 50px 10% 0 10% !important;
    border: none;
    box-shadow: none;
    background-color: transparent;
    justify-content: start;
  }
  #map {
    min-width: 280px;
    min-height: 280px;
  }

  .mat-card-actions {
    margin-bottom: 50px !important;
  }
}


@media screen and (max-height: 700px) {
  .mapContainer{
    display: none;
  }
}
