<app-main>
    <mat-card class="registerCard">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

    <mat-card-content>
        <form class="registerForm" [formGroup]="registerCred">
            <!-- NAME -->
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput placeholder="Name" name="name" required>
            </mat-form-field>
            <!-- EMAIL -->
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Email" name="email" required>
            </mat-form-field>
            <!-- PASSWORD -->
            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput placeholder="Password" name="password" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input
                        formControlName="birthday"
                        matInput
                        (click)="birthDate.open()"
                        [matDatepicker]="birthDate"
                        placeholder="Birthday"
                        required
                />
                <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                <mat-datepicker #birthDate disabled="false"></mat-datepicker>
            </mat-form-field>
        </form>
        <span class="errorMessage">{{errorMessage}}</span>
        <mat-card-actions>
            <!-- REGISTER BUTTON -->
            <button mat-raised-button color="primary" (click)="register()" [disabled]="!registerCred.valid">
                REGISTER
            </button>
        </mat-card-actions>
    </mat-card-content>
    </mat-card>
</app-main>

