table {
  width: 100%;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}



.myEventCard {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
 // width: 600px;
/*  display: flex;
  justify-content: center;
  flex-direction: column;*/
  padding: 40px 100px;

  mat-card-header {
    mat-card-title {
      text-align: center;
    }
  }
}




@media screen and (max-width: 620px){
  .myEventCard {
      padding: 10px 20px;
  }

}

