<app-main>
    <mat-card class="createGenreCard">
        <mat-card-header>
            <mat-card-title>Create Genre</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="eventForm" [formGroup]="createGenre" novalidate (keydown.enter)="create()">
                <!-- DESCRIPTION -->
                <mat-form-field class="full-width">
                    <mat-label>Genre Description</mat-label>
                    <input formControlName="description" matInput type="text" placeholder="Genre Description" name="title" required />
                </mat-form-field>
                <span class="errorMessage">{{errorMessage}}</span>
            </form>
            <button mat-raised-button (click)="create()" color="primary">Create Genre</button>
        </mat-card-content>
    </mat-card>
</app-main>
