.createGenreCard {
  position: relative;
  left: 50%;
  margin: 30px 0;
  transform: translateX(-50%);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 100px;
}
