* {
    margin: 0;
    padding: 0
}
body {
    font-family: Helvetica;
}
#container {
    max-width: 800px;
    margin: 0 auto;
}

mat-card-title {
    color: red;
    font-size: 30px!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
